.benefitsCard {
	background-image: url('@/assets/icons/benefits-card.svg');
	background-repeat: no-repeat;
	background-position: center;
	padding: 48px;
	width: 607px;
	height: 308px;
	position: relative;
	transition: background-image 0.3s ease, opacity 0.3s ease;
	min-width: 607px;


	&Icon {
		position: absolute;
		top: 1%;
		right: 8%;
	}

	&Title {
		color: rgba(255, 255, 255, 0.7);
		font-size: 20px;
		font-weight: 500;
		line-height: 120%;
	}

	&Text {
		color: #fff;
		text-align: center;
		font-family: Whyte Inktrap;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 110%;
	}

	&Type {
		color: #020011;
		font-size: 16px;
		font-weight: 600;
		position: absolute;
		bottom: 0;
		left: 5%;
	}

	&Block {
		position: relative;
		padding: 20px;
		margin-top: 32px;

		&Icon {
			&Tl {
				position: absolute;
				top: 0;
				left: 0;
			}

			&Tr {
				position: absolute;
				top: 0;
				right: 0;
			}

			&Br {
				position: absolute;
				bottom: 0;
				right: 0;
			}

			&Bl {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}

	&Active {
		background-image: url('@/assets/icons/benefits-card-active.svg');
	}
}
