.main {
	position: relative;
	overflow: hidden;
}

.main::before,
.main::after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: #C1C1C4;
	z-index: -10;
}

.main::before {
	left: 27%;
}

.main::after {
	right: 27%;
}