.section {
  padding: 110px 0 56px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .info {
    position: absolute;
    top: 56px;
    left: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .title {
        color: #020011;
        font-family: 'Whyte Inktrap', serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
      }

      .description {
        color: #12120f;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        max-width: 200px;
      }
    }

    .button {
      max-width: 200px;
      height: 48px;
    }
  }

  .swiper {
    height: 100%;
    overflow: visible;

    .slide {
      width: 500px;
      height: 430px;
      transition: transform 0.3s ease;
    }

    .slideDeactive {
      transform: scale(0.5) translateY(330px) !important;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 56px;
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 56px 16px;
    position: relative;

    .info {
      position: initial;

      .content {
        gap: 12px;

        .title {
          font-size: 28px;
          text-align: center;
        }

        .description {
          max-width: 100%;
          text-align: center;
        }
      }

      .button {
        margin: 0 auto;
        min-width: 160px;
        height: 40px;
      }
    }

    .swiper {
      margin-top: 48px;
      height: 100%;
      overflow: visible;

      .slide {
        max-width: 560px;
        max-height: 378px;
        transition: transform 0.3s ease;
      }

      .slideDeactive {
        //transform: none !important;
      }
    }

    .navigation {
      margin-top: 40px;
    }
  }
}

@media (max-width: 768px) {
  .section {
    padding: 56px 16px;
    position: relative;

    .info {
      position: initial;

      .content {
        gap: 12px;

        .title {
          font-size: 20px;
          text-align: center;
        }

        .description {
          max-width: 100%;
          text-align: center;
        }
      }

      .button {
        margin: 0 auto;
        min-width: 160px;
        height: 40px;
      }
    }

    .swiper {
      margin-top: 48px;
      height: 100%;
      overflow: visible;

      .slide {
        width: 291px;
        height: 321px;
        transition: transform 0.3s ease;
      }

      .slideDeactive {
        transform: scale(0.9) translateY(0px) !important;
      }
    }

    .navigation {
      margin-top: 40px;
    }
  }
}
