.section {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	padding: 56px 0;
}

.leftBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 64px;
	max-width: 27%;
	min-width: 27%;
}

.content {
	width: 46%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tabs {
	display: flex;
	width: auto;
	gap: 16px;
	justify-content: center;
	align-items: end;
	position: relative;
	margin: 0 auto;

	//pointer-events: none; //TODO: remove after fix click on tab

	&::before {
		position: absolute;
		bottom: 0;
		content: '';
		height: 15px;
		width: 50px;
		background-color: #E0E0E0;
	}

	&::after {
		position: absolute;
		bottom: 8px;
		content: '';
		left: 100.7px;
		height: 20px;
		width: 16px;
		background-color: #F3F3F3;
		border-radius: 8px;
	}
}

.tab {
	border: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	background-color: #E0E0E0;
	padding: 10px;
	border-radius: 8px;
	transition: height 300ms ease-in-out, color 3s ease-in-out;
}

.tabActive {
	height: 48px;
	color: #020011;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
	cursor: initial;
	pointer-events: none;
}

.tabDeactivated {
	cursor: pointer;
	height: 42px;
	color: #6B6B6B;
}


.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	position: relative;

	&Number {
		color: #020011;
		font-family: "Whyte Inktrap";
		font-size: 56px;
		margin-top: 20px;
	}

	&Border {
		position: absolute;

		&LeftTop{
			top: 0;
			left: 0;
		}

		&LeftBottom{
			left: 0;
			bottom: 0;
			transform: rotate(270deg);
		}

		&RightTop{
			top: 0;
			right: 0;
			transform: rotate(90deg);
		}

		&RightBottom{
			bottom: 0;
			right: 0;
			transform: rotate(180deg);
		}

		& > div {
			display: flex;

			& > svg > path {
				stroke: #C2C2C2;
			}
		}
	}
}

.cardBlock {
	display: flex;
	flex-direction: column;
}

.horizontalScroll {
	display: flex;
	height: 100%;
	gap: 56px;
	z-index: 0;
}

.card {
	min-width: 600px;
	max-width: 600px;
	height: 300px;
	background-color: #C1C1C4;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.navigation {
	display: flex;
	gap: 25px;
	z-index: 10;
}