.section {
	//padding: 56px 64px;
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}

.leftBlock {
	display: flex;
	flex-direction: column;
	//justify-content: space-between;
	min-width: 260px;
}

.tabs {
	top: 10%;
	left: 50%;
	display: flex;
	gap: 10px;
}

.cardBlock {
	margin-top: 51px;
}

.horizontalScroll {
	display: flex;
	height: 100%;
	gap: 56px;
}

.card {
	min-width: 600px;
	max-width: 600px;
	height: 300px;
	background-color: #C1C1C4;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.navigation {
	display: flex;
	gap: 10px;
	//position: fixed;
	//bottom: 100px;
}

.navigation button {
	padding: 10px;
	background: #f0f0f0;
	border: none;
	cursor: pointer;
}