@font-face {
    font-family: 'Whyte Inktrap';
    src: url('/fonts/WhyteInktrap-Thin.woff2') format('woff2'),
         url('/fonts/WhyteInktrap-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('/fonts/WhyteInktrap-Light.woff2') format('woff2'),
         url('/fonts/WhyteInktrap-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('/fonts/WhyteInktrap-Regular.woff2') format('woff2'),
         url('/fonts/WhyteInktrap-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('/fonts/WhyteInktrap-Medium.woff2') format('woff2'),
         url('/fonts/WhyteInktrap-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('/fonts/WhyteInktrap-Bold.woff2') format('woff2'),
         url('/fonts/WhyteInktrap-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('/fonts/WhyteInktrap-Black.woff2') format('woff2'),
         url('/fonts/WhyteInktrap-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
